<mat-toolbar color="primary" class="barra">
  <img src="assets/LARGO.png" class="imagen" width="350" height="60">
  <span class="spacer"></span>
  <button (click)="home()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>home</mat-icon>
  </button>
  <button (click)="paginaadmin()" mat-icon-button class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon">
    <mat-icon>build</mat-icon>
  </button>
  <button (click)="paginacerrar()" mat-icon-button class="example-icon"
    aria-label="Example icon-button with share icon">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
